<div class="title">
<h1>Coffee Types</h1>
<small>Please sign in to read the description</small>
</div>


<% coffeeTypes.forEach(function(coffee) {%>
  <div class="row ">  
    <div class="col-md-6 offset-md-3">
      <div class="card text-center" style="width: 45rem">
      <img src="<%= coffee.image %>" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= coffee.name %></h5>
        <p class="card-text">~<%= coffee.origin %> </p>
        <a href="/coffees/<%= coffee.id %> "> More Details </a>
      </div>
    </div>
  </div>
</div>
<% }) %>

<link rel="stylesheet" href="/static/css/profile.css">


