<h1>Coffee Types</h1>
<h4>Read about the different drinks and where there from</h4>

<% coffeeTypes.forEach(function(coffee) {%>
<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0"><%= coffee.name %></h5>
        <p><small>~<%= coffee.origin %> </small></p>
        <a href="/coffees/<%= coffee.id %> "> More Details </a>
    </div>
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="<%= coffee.image %>" class="w-100" alt="..." />
    </div>
</div>
<% }) %>
