<h1>Coffee Types </h1>
<h4>Read about the different drinks and where there from</h4>

<% coffeeTypes.forEach(function(coffee) {%>
    <div>
        <h3>
            <a href="/coffees/<%= coffee.id %> ">
                <%= coffee.name %>    
            </a>
        </h3>
        <p>
            <small>~<%= coffee.origin %> </small>
        </p>
        <h4>
        </h4>
    </div>
<% }) %> 