<article>
<h1>Yene Buna</h1>
<h4>"My Coffee"</h4>
<hr>
<p>Explore the world of coffee, so many culture so many ways to make 
coffee it.
</p> 
<p>Create a list of your favorites</p>
</article>
 <link rel="stylesheet" href="/static/css/style.css">

