


  <div class="row ">
    <div class="col-md-6 offset-md-3">
      <div class="card text-center" style="width: 45rem">
        <% coffee.forEach(function(coffeeFavorite) {%>
        <div class="card-body">
          <h5 class="card-title"><%= coffeeFavorite.name %></h5>
          <img src="<%= coffeeFavorite.image %>" class="card-img-top" />
          <a href="/coffees/<%= coffeeFavorite.id %>" class="btn btn-light"
            >Return to Coffee Description
          </a>
        </div>
        <br />
        <% }) %>
      </div>
    </div>
  </div>
  


  <link rel="stylesheet" href="/static/css/profile.css">
