body {
    background-image: url('https://images.alphacoders.com/108/1084039.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.6;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  article {
    color: white;
    margin-top: 185px;
    float: right;
    padding: 10px;
    width: 35%;
    text-align:center;

  }